.header-main {
    width: 1320px;
    height: 600px;
    background-color: rgba(177, 151, 230, 0.6);
    background-image: url('Banner Image.png');
    align-items: center;
    border-radius: 16px;


}

.adding-p {
    padding: 100px;
}

.border-b {
    list-style-position: inside;
    column-rule-style: calc(100%);
    padding: 40px;
    border-radius: 16px;


}





.first-div {
    font-style: normal;
    width: 1400px;
    height: 935px;
    background-color: white;
    align-items: center;

}

.img-img {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;

}

.the-second-div {
    font-style: normal;
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    fill: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 100%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    padding: 20px;


}

button {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
}

/*the third division*/

.the-third-div {
    background: white;
    width: 1000px;
    height: 500px;
    display: flex;
    

    text-align: center;
    margin: none;


}

.best-offer {
    color: #F00;
    text-align: justify;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.c-soon {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    text-align: justify;
}

.dolor-d {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-align: justify;
    padding-right: 10%;
    
}

.smil-e {
    width: 364.844px;
    height: 364.844px;
    
    border-radius: 364.844px;
    background: url(<path-to-image>), lightgray -91.279px 0px / 150.038% 100% no-repeat;
    text-align: justify;
    padding: 50px;
}

.happ-year {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
    text-align: justify;
}

/*banner-html*/

.banner-html {
    width: 1200px;
    height: 1000px;
    background: #FFF;



}

.box-box {
    width: 50px;
    height: 50px;
    display: flex;

}

.paragraph-writing {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;

}

.banner-header {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.banner-greeting {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.end-end {
    background-color: aqua;
}

/*footer related*/


footer {}