header {

    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%)
}

.first-div {
    font-style: normal;
    width: 1400px;
    height: 935px;
    background-color: white;
    align-items: center;

}

.img-img {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;

}

.the-second-div {
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    background-color: rgb(226, 225, 149);
    text-align: center;
}

button {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
}
.the-third-div{
    width: 1600px;
height: 7335px;
background: #d1bdbd;
}